<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <div class="input">
                <label class="label">
                    <h3>{{ field.label }}</h3>
                    
                </label>
            </div>
            <div>
                
            </div class="field">
            {{ field }}
        </div>
        {% endfor %}
        <button>Send</button>
</form>

    
</body>
</html>